@model Ticket

<h2>New Task</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="StatusID">Status:</label>
        <select asp-for="StatusID" class="form-control"
                asp-items="@(new SelectList(ViewBag.Statuses, "StatusID", "Name"))">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="SprintNumber">Sprint Number:</label>
        <input type="text" asp-for="SprintNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PointValue">Point Value:</label>
        <input type="text" asp-for="PointValue" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
