<h4>Attribute routing</h4>
<p>
    Area: Module5 <br />
    Controller: Home <br />
    Action: Attribute <br />
</p><br />

    <p>
        An attribute was added to this action within the home controller, which looks like:<br />
        [Route("[area]/[controller]/[action]")]
    </p>