<h4>Default routing</h4>
<p>You reached this page through the default routing:<br />
    Area: Module5 <br />
    Controller: Home <br />
    Action: Index <br />
</p><br />

<h4>Custom routing</h4>
<p>Click here to test a custom route: <a asp-controller="Home" asp-action="Custom">Custom</a><br />
</p><br />

<h4>Attribute routing</h4>
<p>Click here to test an attribute route: <a asp-controller="Home" asp-action="Attribute">Attribute</a><br />
</p>
