<h4>Default routing</h4>

<p>You reached this page through the default routing:<br />
    Area: Module5 <br />
    Controller: Home <br />
    Action: Index <br />
</p>

<h4>Custom routing</h4>
<p>Click here to test a custom route:
    <div class="list-group">
        <a asp-controller="Home" asp-action="Custom">Custom</a>
    </div>
</p>
