@model string?

<h2>Ticket Validation System</h2>

<p>Here is an example of the submit button tag helper</p>

<submit-button class="mr-2">Submit</submit-button>
<br /><br />

<p>Here is an example of the view components</p>

<span class="button btn-light">@Model</span>
