<h1>Welcome to the admin area</h1>

<h4>You can find the source code for each module at the following link:</h4>
<a href="https://github.com/brad-beltman/cis174">GitHub</a>

<p>
    Please note, the repo linked above is marked as private and you need to be invited to be able to access it.
    You will also need to be logged into GitHub, otherwise it will return a 404 NOT FOUND error.
</p>
