<ul class="navbar-nav flex-grow-1 mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
        </div>
    </li>
    <li class="nav-item">
        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut">
            <button class="btn btn-outline-primary" type="submit">Log Out</button>
        </form>
    </li>
</ul>
