<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Manage Reports</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Manage Users</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Upload" asp-action="Index">Upload New Report</a>
    </div>
</li>
