@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager

@if (signInManager.IsSignedIn(User))
{
    // signed-in user - Log out button and username
    <li class="nav-item">
        <form method="post" asp-action="Logout" asp-controller="Account" asp-area="" >
            <input type="submit" value=" Log Out" class="btn btn-outline-light" />
            <span class="text-light">@User.Identity.Name</span>
        </form>
    </li>
}
else
{
    // get current action
    var action = ViewContext.RouteData.Values["action"]?.ToString();

    // anonymous user - Log in button
    <li class="nav-item">
        <a asp-action="Login" asp-controller="Account" asp-area="" class="btn btn-outline-light">Log In</a>
    </li>
}
